<section class="flex flex-col bg-smash-red min-h-screen text-center py-20">
    <!-- <img class="absolute top-0 left-0 z-0 min-h-full" src="assets/images/image_border_black.png" alt="">
    <img class="absolute top-0 right-0 z-0 min-h-full" src="assets/images/image_border_white.png" alt=""> -->
    <!-- <img src="assets/images/image_border_white.png" alt=""> -->
    <h1 class="z-10 xxs:text-4xl sm:text-6xl font-bold text-white mb-6">COMMANDEZ SUR :</h1>
    <div class="z-10 flex flex-row flex-wrap gap-4 justify-center">
        <div class="flex flex-col bg-white rounded-lg text-center items-center hover:shadow-lg hover:shadow-emerald-400 duration-300">
            <button (click)="redirectToDeliveroo()">
                <img class="w-60 rounded-lg" src="assets/images/deliveroo.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white rounded-lg text-center items-center hover:shadow-lg hover:shadow-green-500 duration-300">
            <button (click)="redirectToUber()">
                <img class="w-60 rounded-lg" src="assets/images/uber.png" alt="">
            </button>
        </div>
    </div>
</section>