<section class="bg-smash-grey flex flex-col items-center py-20">
    <div class="flex flex-row flex-wrap justify-center gap-4 mb-4">
        <h1 class="text-white text-6xl font-bold">Nos</h1>
        <h1 class="text-smash-yellow text-6xl font-bold">Hit</h1>
        <h1 class="text-white text-6xl font-bold">du mois !</h1>
    </div>
    <div class="flex flex-col bg-white w-1/4 items-center rounded-lg">
        <h1 class="text-4xl font-bold">A faire</h1>
        <h2 class="text-2xl font-bold">Burger du mois</h2>
        <div class="bg-smash-yellow p-4 rounded-full my-4">
            <img class="w-60 hover:scale-110 duration-300" src="../../../assets/images/burgerz_transparant.png" alt="">
        </div>
    </div>
</section>