<section class="flex flex-col bg-smash-yellow py-4 px-6">
    <div class="grid grid-cols-1 xl:grid-cols-3">
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Burger</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/burgerz_transparant.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Frites fraiches</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/frites_smash_hit.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Hit dogs</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/le_chien_chaud.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Burgers Veggies</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/burger_veggies.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Milkshake</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/milkshake_transparant.png" alt="">
            </button>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center hover:shadow-lg hover:shadow-smash-red duration-300">
            <h1 class="self-center text-6xl">Autres</h1>
            <button>
                <img class="h-80 w-fit hover:scale-110 duration-300" src="../../../assets/images/burgerz_transparant.png" alt="">
            </button>
        </div>
    </div>
</section>