<section class="flex flex-col bg-gradient-to-r from-smash-red to-smash-yellow py-20 px-6">
    <div class="flex flex-col w-full text-center mb-10">
        <h1 class="xxxs:text-4xl sm:text-6xl text-white">Nos produits</h1>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center mb-6 hover:shadow-lg hover:shadow-smash-grey duration-300">
            <img class="h-20 w-20 scale-150 mb-5 -z-0 rounded-full bg-smash-white" src="assets/images/steak.png" alt="">
            <div class="px-5 pb-5">
                <h1 class="text-4xl font-bold mb-4 mt-1 text-smash-red">De la viande locale !</h1>
                <p class="text-xl text-justify"> 
                    Nous privilégions la fraîcheur et la qualité de nos ingrédients. 
                    C'est pourquoi nous sommes fiers d'utiliser exclusivement de la viande locale. 
                    Nous collaborons avec des éleveurs de la région, ce qui nous permet de garantir la traçabilité et le respect des normes éthiques. 
                    En soutenant l'économie locale, nous favorisons la durabilité et nous nous assurons de proposer des plats savoureux et responsables à nos clients. 
                    Dégustez nos spécialités préparées avec soin et découvrez le goût authentique de notre viande locale de première qualité.
                </p>
            </div>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center mb-6 hover:shadow-lg hover:shadow-smash-grey duration-300">
            <img class="h-20 w-20 scale-150 mb-5 -z-0 rounded-full bg-smash-white" src="assets/images/content.png" alt="">
            <div class="px-5 pb-5">
                <h1 class="text-4xl font-bold mb-4 mt-1 text-smash-red">Des tarifs qui n'augmentent pas !</h1>
                <p class="text-xl text-justify">
                    Nous croyons en l'importance de la fidélité envers nos clients. 
                    C'est pourquoi nous sommes fiers d'annoncer que nous n'augmentons pas nos prix. 
                    Notre engagement est de vous offrir une expérience culinaire exceptionnelle, sans compromis sur la qualité ou le coût. 
                    Nous croyons que tout le monde devrait pouvoir profiter de notre délicieuse cuisine sans se soucier des fluctuations des prix. 
                    Venez déguster nos plats raffinés et savoureux, en sachant que nous vous garantissons un excellent rapport qualité-prix, toujours constant.
                </p>
            </div>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center mb-6 hover:shadow-lg hover:shadow-smash-grey duration-300">
            <img class="h-20 w-20 scale-150 mb-5 -z-0 rounded-full bg-smash-white" src="assets/images/potato.png" alt="">
            <div class="px-5 pb-5">
                <h1 class="text-4xl font-bold mb-4 mt-1 text-smash-red">Des pommes de terre locales !</h1>
                <p class="text-xl text-justify">
                    Nous nous efforçons de vous offrir les meilleurs ingrédients pour une expérience culinaire inoubliable. 
                    C'est pourquoi nous sommes fiers d'utiliser exclusivement des pommes de terre locales dans nos plats. 
                    En collaborant avec des agriculteurs de la région, nous assurons la fraîcheur et la qualité de nos pommes de terre, 
                    tout en soutenant notre communauté agricole locale. 
                    Chaque bouchée de nos plats à base de pommes de terre est un hommage à la richesse de notre terroir et à notre engagement envers une alimentation durable. 
                    Dégustez nos délicieux plats et savourez la saveur authentique des pommes de terre locales, cultivées avec passion et soin.
                </p>
            </div>
        </div>
        <div class="flex flex-col bg-white text-center m-2 rounded-md items-center mb-6 hover:shadow-lg hover:shadow-smash-grey duration-300">
            <img class="h-20 w-20 scale-150 mb-5 -z-0 rounded-full bg-smash-white" src="assets/images/bread.png" alt="">
            <div class="px-5 pb-5">
                <h1 class="text-4xl font-bold mb-4 mt-1 text-smash-red">Du pain frais !</h1>
                <p class="text-xl text-justify">
                    Nous croyons que chaque détail compte lorsqu'il s'agit de créer des hamburgers exceptionnels. 
                    C'est pourquoi nous utilisons fièrement du pain de boulanger local pour nos délicieux burgers. 
                    En collaborant avec des artisans boulangers de notre région, nous nous assurons que chaque bouchée soit une expérience gustative unique. 
                    Notre pain à hamburger est préparé avec soin et expertise, en utilisant des ingrédients locaux de première qualité. 
                    Dégustez nos burgers juteux et succulents, 
                    avec un pain moelleux et savoureux qui témoigne de notre engagement envers les produits locaux et notre quête de perfection culinaire.
                </p>
            </div>
        </div>
    </div>
</section>