<header class="flex flex-col bg-gray-950 items-center gap-0 py-1 px-1">
    <div class="w-full flex justify-end">
        <nav class="flex flex-row gap-2 text-white text-[5px]">
            <a class="hover:text-red-500 duration-300" href="">Qui sommes nous ?</a>
            <a class="hover:text-red-500 duration-300" href="">carte</a>
            <a class="hover:text-red-500 duration-300" href="">contact</a>
        </nav>
    </div>
    <div>
        <img src="../../../assets/images/logo-smash-it-circle.png" alt="logo smash it circle" class="w-5 h-5 rounded-full">
    </div>
</header>
