<header class="flex lg:flex-row xxs:flex-col xxs:items-center bg-white gap-0 py-2 px-2 justify-between ">
    <div class="flex-1 flex items-center gap-4 pr-10">
        <img src="../../../assets/images/logo_typographie_smash_hit.png" alt="logo smash it circle" class="">
    </div>
    <nav class="flex flex-row gap-4 text-black text-xl font-bold flex-1 justify-end self-center pr-6">
        <a class="hover:text-smash-red duration-300" href="">Qui sommes nous ?</a>
        <a class="hover:text-smash-red duration-300" href="">carte</a>
        <a class="hover:text-smash-red duration-300" href="">contact</a>
    </nav>
</header>