<header [ngClass]="{'bg-transparent': isScrolled, 'bg-white': !isScrolled}" class="flex lg:flex-row xxs:flex-col xxs:items-center gap-0 py-2 px-2 justify-between fixed w-full z-10">
    <div class="flex-1 flex items-center gap-4 xxs:pr-0 lg:pr-10">
        <img src="assets/images/SMASH HIT - LOGO HORIZONTAL COULEURS.png" alt="logo smash it circle" class="xxs:h-14 lg:h-20 xxs:hidden md:flex">
        <img src="assets/images/logo_burger.png" alt="logo smash it circle" class="xxs:h-14 lg:h-20 xxs:flex md:hidden">
    </div>
    <nav class="font-candela flex flex-row gap-4 text-black text-xl font-bold flex-1 justify-end self-center pr-6 xxs:hidden lg:flex">
        <a class="hover:text-smash-red duration-300" href="#restau">Qui sommes-nous ?</a>
        <a class="hover:text-smash-red duration-300" href="#carte">Carte</a>
        <a class="hover:text-smash-red duration-300" href="#contact">Contact</a>
    </nav>
    <button class="xxs:flex lg:hidden" (click)="Menu()">
        <div id="open" class="">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div id="close" class="hidden">
            <span class="material-symbols-outlined">
                close
            </span>
        </div>
    </button>
    <div id="nav_list" class="hidden">
        <ul class="top-[100px] text-center absolute bg-white w-full left-0 opacity-0 transition-all ease-in duration-300 z-50">
            <li class="mx-4 my-6 md:my-0">
                <a href="#restau" class="text-xl hover:text-smash-red duration-300 font-bold">Qui sommes-nous ?</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#carte" class="text-xl hover:text-smash-red duration-300 font-bold">Carte</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#contact" class="text-xl hover:text-smash-red duration-300 font-bold">Contact</a>
            </li>
        </ul>
    </div>
    
</header>