<p-carousel [ngStyle]="" [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" [autoplayInterval]="5000">
    <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="flex flex-col items-center justify-center mb-3 shadow-2 bg-smash-white rounded-lg py-5">
                <div class="xxxs:w-20 xxxs:h-20 xxs:w-32 xxs:h-32 xs:w-60 xs:h-60 bg-smash-grey rounded-full flex items-center justify-center">
                    <img src="assets/images/{{ product.image }}" [alt]="product.name" class="xxxs:w-16 xxxs:h-16 xxs:w-28 xxs:h-28 xs:w-56 xs:h-56" />
                </div>
            </div>
            <div>
                <h4 class="mb-1 text-2xl font-bold font-grotesque">{{ product.name }}</h4>
                <p-tag [value]="product.inventoryStatus" severity="warning"></p-tag>
            </div>
        </div>
    </ng-template>
</p-carousel>