<section class="flex flex-col items-center bg-white min-h-screen">
    <h1 class="text-4xl font-bold">Mentions Légales</h1>
    <!-- <h2 class="text-xl font-bold">Propriétaire du site :</h2>
    <p>Nom : Antonin Martinez</p>
    <p>Adresse e-mail : pro@antonin-martinez.fr</p>

    <h2 class="text-xl font-bold">Responsable de la publication :</h2>
    <p>Nom : Antonin Martinez</p>
    <p>Adresse e-mail : pro@antonin-martinez.fr</p>

    <h2 class="text-xl font-bold">Hébergement :</h2>
    <p>Nom de l'hébergeur : GitHub</p>

    <h2 class="text-xl font-bold">Propriété intellectuelle :</h2>
    <p>Le site internet et son contenu, y compris le code source, les textes, les graphiques, sont la propriété exclusive de Antonin Martinez, sauf indication contraire. Toute reproduction, distribution, modification ou utilisation non autorisée du contenu est strictement interdite.</p> -->
</section>
