<section class="flex flex-row px-10 py-20 bg-smash-grey">
    <div class="w-1/3">
        <img class="absolute" src="assets/images/photo_insta_2.png" alt="">
        <div class="relative opacity-25 bg-smash-red w-fit">
            <img class="opacity-100" src="assets/images/insta_logo.png" alt="">
        </div>
    </div>
    <div class="w-1/3">
        <img src="assets/images/photo_insta_1.png" alt="">
    </div>
    <div class="w-1/3">
        <img src="assets/images/photo_insta_3.png" alt="">
    </div>
</section>