<section class="bg-fixed bg-[url('assets/images/background_smash_hit_brightness.png')]">
    <article class="flex flex-col items-center py-48">
        <img id="logo_smash_hit_header" class="h-80 w-80 rounded-full mb-2 animate__animated animate__fadeIn" src="assets/images/logo_saturer.png" alt="">
        <a routerLink="/carte" class="border-2 px-6 py-4 rounded-lg bg-smash-red text-white hover:bg-smash-yellow font-grotesquedark text-2xl duration-300 animate__animated animate__fadeIn animate__delay-2">Voir notre carte</a>
    </article>
</section> 
