<section class="bg-fixed bg-[url('assets/images/back_ground_smash_hit.png')]">
    <!--<section class="bg-fixed bg-[url('assets/images/back_ground_smash_hit.png')]"> xxs:bg-[url('assets/images/phone_background.png')] xss:bg-[url('assets/images/phone_background_2.png')]-->
    <article class="flex flex-col items-center py-48">
        <img id="logo_smash_hit_header" class="h-80 w-80 rounded-full mb-2" src="assets/images/logo_saturer.png" alt="">
        <a routerLink="/carte" class="border-2 px-4 py-2 rounded-lg bg-smash-red text-white hover:bg-smash-yellow duration-300 text-xl">Voir notre carte</a>
    </article>
</section> 
