<section id="contact" class="flex flex-col items-center w-full h-auto">
    <div class="bg-smash-red flex flex-col w-full items-center gap-2">
        <div class="flex flex-row flex-wrap items-center gap-2 py-2 justify-center">
            <img class="w-40 h-40" src="assets/images/logo-smash-it-circle.png" alt="">
            <div class="flex flex-col gap-1 text-white xxs:text-center xss:text-left">
                <h1 class="text-2xl font-bold">Smash Hit</h1>
                <p class="text-xl">4 Rue des Laps</p>
                <p class="text-xl">51350 Cormontreuil</p>
                <a class="text-2xl font-bold text-smash-yellow hover:text-smash-grey duration-300" href="tel:0326477349">03 26 47 73 49</a>
            </div>
        </div>
        <div class="flex">
            <button (click)="redirectToPage()">
                <h4 class="text-white">Mentions légale</h4>
            </button>
        </div>
    </div>
    <iframe class="w-full h-80"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.263756829623!2d4.041248093536222!3d49.214524801797644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e9759917a0ec23%3A0xf3e0ad6043d94060!2sSmash%20Hit!5e0!3m2!1sfr!2sfr!4v1685438982166!5m2!1sfr!2sfr"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>