<section class="bg-fixed xxs:bg-[url('assets/images/phone_background.png')] sm:bg-[url('assets/images/back_ground_smash_hit.png')]">
    <article class="flex flex-col items-center py-32">
        <!-- <div class="bg-smash-white rounded-full p-4 mb-2">
            <img id="logo_smash_hit_header" class="h-80 w-80" src="assets/images/SMASH HIT - LOGO ROND COULEURS.png" alt="">
        </div> -->
        <img id="logo_smash_hit_header" class="h-80 w-80 rounded-full mb-2" src="assets/images/logo_saturer.png" alt="">
        <button class="border-2 px-4 py-2 rounded-lg bg-smash-red text-white hover:bg-smash-yellow duration-300" (click)="scrollToCarte()">
            <h2 class="text-xl">Voir notre carte</h2>
        </button>
    </article>
</section>
