<section id="restau" class="flex flex-col bg-smash-grey py-20 px-6">
    <div class="flex flex-col w-full text-center mb-10">
        <h1 class="text-6xl font-bold text-white">Notre restaurant</h1>
    </div>
    <div class="flex flex-row flex-wrap gap-4 justify-center">
        <img class="flex-1 xxs:w-auto sm:max-w-xl" src="../../../assets/images/restau_smash_hit.jpg" alt="">
        <div class="flex flex-col flex-1 xxs:w-auto sm:max-w-xl bg-white rounded-lg p-5 gap-2">
            <h1 class="text-6xl font-bold text-smash-red">A propos de nous</h1>
            <h2 class="text-5xl font-bold text-smash-yellow">Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nulla ab sapiente, dicta sed eligendi consequatur distinctio rem totam voluptates fuga qui quaerat, illo sunt laudantium quos iste temporibus nesciunt?</p>
        </div>
    </div>
</section>