<section id="restau" class="flex flex-col bg-smash-grey py-20 px-6">
    <div class="flex flex-col w-full text-center mb-10">
        <h1 class="xxxs:text-4xl sm:text-6xl text-white">Notre restaurant</h1>
    </div>
    <div class="flex justify-center gap-4 flex-wrap">
        <img class="rounded-lg" src="assets/images/restau_smash_hit.png" alt="">
        <div class="md:w-1/2 bg-white rounded-lg p-4">
            <h1 class="text-4xl font-bold text-smash-red">A propos de nous</h1>
            <h2 class="text-2xl font-bold text-smash-yellow mb-4">Smash Hit</h2>
            <p class="font-Roboto text-2xl">Finalement, SMASH HIT, c’est quoi ? 🤔 <br><br>
                Une cuisine gourmande, avec des ingrédients de qualité sélectionnés rigoureusement et une préparation maison ! 😍 <br><br>
                On smash nos steaks de viande charolaise 100% française avec amour, on shake nos Shake Hits à base de glace artisanale avec peps et on prépare aussi des alternatives végétariennes rien que pour vous. ❤️
            </p>
        </div>
    </div>
</section>