<section id="restau" class="flex flex-col bg-smash-grey py-20 px-6">
    <div class="flex flex-col w-full text-center mb-10">
        <h1 class="xxxs:text-4xl sm:text-6xl font-bold text-white">Notre restaurant</h1>
    </div>
    <div class="flex flex-row flex-wrap gap-4 justify-center">
        <img class="flex-1 xxs:w-auto sm:max-w-xl" src="assets/images/restau_smash_hit.jpg" alt="">
        <div class="flex flex-col flex-1 xxs:w-auto sm:max-w-xl bg-white rounded-lg p-5">
            <h1 class="text-4xl font-bold text-smash-red">A propos de nous</h1>
            <h2 class="text-2xl font-bold text-smash-yellow mb-4">Le Smash Burger</h2>
            <p class="font-Roboto">Finalement, SMASH HIT, c’est quoi ? 🤔 <br><br>
                Une cuisine gourmande, avec des ingrédients de qualité sélectionnés rigoureusement et une préparation maison ! 😍 <br><br>
                On smash nos steaks de viande charolaise 100% française avec amour, on shake nos Shake Hits à base de glace artisanale avec peps et on prépare aussi des alternatives végétariennes rien que pour vous. ❤️
            </p>
        </div>
    </div>
</section>